<section>
  <h2>Навыки</h2>

  <div class="skills-group" *ngFor="let type of skillTypes">
    <h3>{{ type.title.ru }}</h3>

    <div class="skills-list">
      <ng-container *ngFor="let skill of skills; let i = index">
        <div class="skill" *ngIf="skill.typeIds.includes(type.id)">
          <div class="image">
            <img [src]="skill.image" [alt]="skill.title.ru" />
          </div>

          <div class="content">
            <h4>{{ skill.title.ru }}</h4>

            <div class="rate" *ngIf="skill.knowledgeRating !== null">
              <span
                *ngFor="let rateUnit of [].constructor(5); let i = index"
                [class.active]="i < skill.knowledgeRating"
              ></span>
            </div>

            <div class="experience">
              Опыт: {{ skill.experienceInYears }}
              {{
                skill.experienceInYears === 0
                  ? 'нет'
                  : skill.experienceInYears === 1
                  ? 'год'
                  : skill.experienceInYears <= 4
                  ? 'года'
                  : 'лет'
              }}
            </div>

            <div class="last-use" *ngIf="skill.lastUse !== null">
              {{
                skill.lastUse === 'now'
                  ? 'Используется в текущих проектах'
                  : 'Последнее использование: ' +
                    (skill.lastUse | date: 'MMM y')
              }}
            </div>

            <div class="certificates" *ngIf="skill.certificates">
              <ng-container *ngFor="let certificate of skill.certificates">
                <a [href]="certificate.link" target="_blank">{{
                  certificate.title.ru
                }}</a>
              </ng-container>
            </div>

            <div class="comment" *ngIf="skill.comment">
              {{ skill.comment.ru }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
