@import '../../../assets/styles/_variables';

header {
  position: relative;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 32px;
  box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.19),
    0 -6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  background: linear-gradient(
    125deg,
    lighten($color-primary, 10) 39%,
    $color-primary 39.01%,
    $color-primary 60%,
    darken($color-primary, 10) 60.01%
  );
  background-size: 200% 200%;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-name: header-background-animation;
  animation-iteration-count: infinite;
  @media (max-width: $bp-md) {
    padding-top: 106px;
    background: linear-gradient(
      125deg,
      lighten($color-primary, 10) 49%,
      $color-primary 49.01%,
      $color-primary 60%,
      darken($color-primary, 10) 60.01%
    );
    background-size: 200% 200%;
  }

  @keyframes header-background-animation {
    0% {
      background-position: 0 50%;
      background-size: 100% 100%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 120% 260%;
    }
    100% {
      background-position: 0 50%;
      background-size: 100% 100%;
    }
  }

  a {
    transition: $transition-1;

    &:hover {
      opacity: 0.7;
    }
  }

  .personal-info {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    color: white;
    @media (max-width: $bp-md) {
      flex-direction: column;
      text-align: center;
    }

    .photo {
      width: 250px;
      height: 250px;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
      margin-right: 40px;
      border: 8px solid white;
      box-shadow: $shadow-1;
      flex-shrink: 0;
      @media (max-width: $bp-md) {
        margin-right: 0;
        margin-bottom: 24px;
      }
      @media (max-width: $bp-sm) {
        width: 200px;
        height: 200px;
      }
    }

    .other-info-container {
      .titles {
        h1,
        h2 {
          color: white;
          text-transform: uppercase;
        }

        h1 {
          font-weight: 500;
          font-size: 56px;
          @media (max-width: $bp-lg) {
            font-size: 40px;
          }
          @media (max-width: $bp-sm) {
            font-size: 32px;
          }
        }

        h2 {
          font-weight: 200;
          font-size: 24px;
          @media (max-width: $bp-sm) {
            font-size: 16px;
          }
        }
      }

      .actions {
        margin-top: 32px;
        display: flex;
        align-content: center;
        align-items: center;
        @media (max-width: $bp-lg) {
          flex-direction: column;
          align-content: flex-start;
          align-items: flex-start;
        }
        @media (max-width: $bp-md) {
          align-content: center;
          align-items: center;
        }

        .contacts {
          margin-right: 32px;
          @media (max-width: $bp-lg) {
            margin-right: 0;
            margin-bottom: 16px;
          }

          a {
            display: flex;
            align-items: center;
            align-content: center;
            margin-bottom: 4px;

            .icon {
              width: 20px;
              height: 20px;
              fill: #ffffff;
              margin-right: 8px;
            }

            span {
              color: white;
              font-weight: 200;
            }
          }
        }

        .socials {
          display: flex;

          a {
            margin-right: 8px;

            .icon {
              width: 24px;
              height: 24px;
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}
