<section>
  <h2>Обо мне</h2>

  <h3>Мои плюсы</h3>
  <ul>
    <li>
      <strong>Умею обучать</strong>. На предыдущих местах работы ко мне
      пристраивали джуниоров. Выступала перед сотрудниками с обучающим
      материалом. Также собеседовала нового сотрудника, делала ревью его кода и
      объясняла, как его улучшить.
    </li>
    <li><strong>Не опаздываю</strong>. Мама - директор школы :)</li>
    <li>
      Я - фронтендер, и я <strong>люблю вёрстку</strong>. Делаю её круто и
      качественно.
    </li>
    <li>
      Я точно пишу <strong>чистый и аккуратный код</strong> и не один раз
      слышала это от членов команды. По этой же причине моим любимым фреймворком
      стал Angular за его стандарты к написанию кода, строгость и целостность.
    </li>
    <li>
      <strong>Не курю и не пью, совсем</strong>. Но на корпоративах развозить
      никого не буду, у меня нет прав :)
    </li>
  </ul>
  <p></p>

  <h3>Мои минусы</h3>
  <ul>
    <li>
      <strong>Стрессоустойчивость ограничивается короткой дистанцией</strong>.
      Если произошёл форсмажор, то я среагирую достаточно быстро. Но если
      компния находится в постоянном форсмажоре - точно не буду справляться. По
      этой же причине не смогу работать в "армейском режиме".
    </li>
    <li>
      <strong>Щепетильно отношусь к заработной плате</strong>. Особенно к
      недоплатам, штрафам и задержкам.
    </li>
    <li>
      <strong>Пока что гражданство российское</strong>. В некоторых компаниях
      это может стать проблемой.
    </li>
  </ul>

  <h3>Как попала в IT?</h3>
  <p>
    В IT попала случайно. Понадобился интернет-магазин, а финансов на него не
    было. Я решила попробовать и у меня получилось. Моя первая работа была сразу
    интернет-магазином. <br /><br />Затем, работая на совершенно противоположной
    должности, увидела как можно улучшить сайт компании и предложила это сделать
    самостоятельно. Таких задач становилось больше, и от прошлой должности
    остались только воспоминания. Так я начала свой путь в программировании.
  </p>

  <h3>Что вдохновляет?</h3>
  <p>
    Вдохновляет awwwards. Анимация некоторых работ в прямом смысле заставляет
    меня плакать от удовольствия, как от прослушивания эпической музыки :)
    Желание работать с движением частично связано с моим образованием
    режиссёра-аниматора. И хотя основательно заняться изучением веб-анимации
    пока что не удается из-за низкого спроса, но некоторый успех в этом деле я
    могу продемонстрировать.
  </p>

  <h3>Какую работу ищу?</h3>
  <p>
    Мне не важно, будет ли работа офисной или удаленной. Важно, чтобы не было
    "армейского режима", обманов, казино и Битрикса.
  </p>
</section>
