@import '../../../assets/styles/_variables';

#header-dynamic {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9;

  .header-dynamic__container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    margin-top: -60px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: $transition-1;
  }

  .main-info {
    width: $sidebar-width;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    z-index: 11;
    margin-right: 10px;

    .photo {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      overflow: hidden;
      margin-left: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .description {
      margin-left: 20px;

      strong {
        font-weight: 500;
        line-height: 1;
      }

      p {
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  .contacts {
    margin-left: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    @media (max-width: $bp-md) {
      display: none;
    }

    a {
      margin-right: 10px;
      display: flex;
      align-items: center;
      align-content: center;

      .icon {
        width: 20px;
        height: 20px;
        fill: $text-color-primary;
      }

      span {
        margin-left: 5px;
        font-size: 14px;
        margin-right: 10px;
        @media (max-width: $bp-lg) {
          display: none;
        }
      }
    }
  }

  .mobile-menu-trigger {
    border: none;
    outline: none;
    position: relative;
    height: 100%;
    width: 50px;
    margin-left: 10px;
    display: none;
    justify-self: flex-end;
    @media (max-width: $bp-md) {
      display: block;
    }

    span {
      background-color: $text-color-primary;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: $transition-1;

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 22px;
      }

      &:nth-child(3) {
        top: 32px;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 22px;
          transform: translateX(-50%) rotate(-45deg);
        }

        &:nth-child(2) {
          top: 22px;
          width: 0;
        }

        &:nth-child(3) {
          top: 22px;
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }
  }
}

.mobile-menu__backdrop {
  display: none;
  @media (max-width: $bp-md) {
    display: block;
  }
}

#mobile-menu {
  .mobile-menu-content {
    z-index: 16;
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    height: 100%;
    transition: $transition-1;
  }

  &.open {
    @media (max-width: $bp-md) {
      .mobile-menu-content {
        left: 0;
      }
    }
  }
}
