@import 'variables';
@import 'fonts';
@import 'reset';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color-primary;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
}

a,
a:visited,
a:active {
  color: $text-color-primary;
}

section {
  padding: 64px 0;
}

main {
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    position: relative;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 48px;
    &:before {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      width: 70px;
      background-color: $text-color-primary;
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 24px;
  }
}

.container {
  max-width: 1150px;
  width: calc(100vw - 260px);
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: $bp-md) {
    width: 100%;
    padding: 0 5vw;
  }
}

.spacer {
  flex-grow: 1;
}

.skeleton {
  width: 100%;
  min-height: 30px;
  border-radius: 4px;
  background: $body-background-color;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      rgba(232, 232, 232, 0),
      rgba(232, 232, 232, 0.9),
      rgba(232, 232, 232, 0)
    );
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 15;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
